/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero {
        z-index: 1;
        position: relative;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;
        /* changes on tablet */
        padding: 0 (16/16rem);
        padding-bottom: (100/16rem);
        font-family: "Roboto", "Arial", sans-serif;
        /* Centers button */
        text-align: center;

        .cs-picture {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            /* Background Image */
            width: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes image act like a background-image */
                object-fit: cover;
            }

            &:before {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                /* Black Color Overlay */
                content: "";
                opacity: 0.7;
                display: block;
                background: #000;
                height: 100%;
                width: 100%;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }
        }

        .cs-container {
            position: relative;
            margin: auto;
            max-width: (1280/16em);
            width: 100%;
            /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
            /* 144px - 280px - leaving extra space for the navigation */
            /* changes on tablet */
            padding: clamp(9em, 25.95vw, 17.5em) 0;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                /* Left Line */
                content: "";
                opacity: 1;
                display: block;
                background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                height: 100%;
                width: 1px;
            }
        }

        .cs-flex-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin: auto;
            /* 60px - 220px */
            margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
            /* 464px - 562px */
            max-width: clamp(29em, 60vw, 35.125em);
            width: 80vw;
            box-sizing: border-box;
        }

        .cs-topper {
            margin-bottom: (16/16rem);
            color: var(--primary);
            text-align: center;
        }

        .cs-title {
            width: 100%;
            color: var(--bodyTextColorWhite);
            text-align: center;
        }

        .cs-text {
            /* 32px - 40px */
            margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
            /* 40px - 48px */
            margin-bottom: clamp(2.5rem, 4vw, 3rem);
            color: var(--bodyTextColorWhite);
            text-align: center;
        }

        .cs-button-solid {
            margin-bottom: (16/16rem);
            height: initial;
            line-height: clamp(2.875em, 5.5vw, 3.5em);
        }

        .cs-button-transparent {
            z-index: 1;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--bodyTextColorWhite);
            margin: 0 (8/16rem);
            background-color: transparent;
            /* 46px - 56px */
            height: clamp(2.875em, 5.5vw, 3.5em);
            width: (180/16rem);
            box-sizing: border-box;
            padding: 0;
            text-decoration: none;
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            font-weight: 700;
            color: #fff;

            .cs-img {
                display: block;
                margin-right: (12/16rem);
            }

            &:before {
                z-index: -1;
                position: absolute;
                /* so it sits on top of the border */
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                content: "";
                opacity: 1;
                /* this is what creates the grow affect on hover */
                transform: scaleX(0);
                display: block;
                background: #000;
                transition: transform 0.3s;
                transform-origin: left;
            }

            &:hover {
                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero {
        /* 32px - 40px */
        padding: 0 clamp(2em, 5vw, 2.5em);

        .cs-container {
            padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                /* Right Line */
                content: "";
                opacity: 1;
                display: block;
                background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
                height: 100%;
                width: 1px;
            }
        }

        .cs-button-solid {
            margin-right: (20/16rem);
            margin-bottom: 0;
        }
    }
}

/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25em) {
    #hero {
        background: url("/assets/images/landing.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* creates parallax effect on background image */
        background-attachment: fixed;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero {
            .cs-background {
                &:before {
                    opacity: 0.8;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    .services {
        z-index: 100;
        position: relative;
        border-top: (6/16em) solid var(--primary);
        border-radius: (5/16em);
        margin: auto;
        margin-top: calc(-167 / 16 * 1em);
        margin-bottom: (50/16em);
        background: #fff;
        max-width: (1320/16em);
        width: 90%;
        padding: (50/16em) (20/16em);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        .card {
            display: block;
            margin: auto;
            margin-bottom: (50/16em);
            max-width: (357/16em);
            width: 100%;

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: auto;
                margin-bottom: (23/16em);
                background: var(--primary);
                height: (88/16em);
                width: (88/16em);

                img {
                    height: (48/16em);
                    width: (48/16em);
                }
            }
            h2 {
                margin-bottom: (13/20em);
                font-size: (32/16em);
                line-height: (27/20em);
                font-weight: 700;
                color: #1a1a1a;
                text-align: center;
            }
            p {
                opacity: 0.7;
                width: 100%;
                line-height: (24/18em);
                text-align: center;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        font-size: ~"min(1.8vw, 1em)";

        .card {
            margin: 0;
            max-width: (325/16em);
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .services {
        padding: (50/16em) (80/16em);

        .card {
            max-width: (357/16em);
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services {
            background: var(--medium);

            picture {
                background: var(--primaryDark);
            }

            h2 {
                font-weight: bold;
                color: #fff;
            }
        }
    }
}

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1946 {
        padding: var(--sectionPadding);
        /* 160px - 200px */
        padding-top: clamp(10rem, 20vw, 12.5rem);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* 40px - 52px */
            margin-bottom: clamp(2.5rem, 5vw, 3.25rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-flex {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.438rem, 5vw, 3.813rem);
        }

        .cs-text {
            margin-bottom: (20/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            /* 32px - 48px */
            padding: 0 clamp(2rem, 4vw, 3rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;
            transition: background-color 0.3s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .cs-picture {
            width: 100%;
            /* 280px - 510px */
            height: clamp(17.5rem, 58.6vw, 31.875rem);
            /* 16px - 20px */
            margin-bottom: clamp(1rem, 2vw, 1.25rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: (40/16rem);
                position: absolute;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #F7F7F7;
            border-radius: (20/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: border-color 0.3s;

            &:hover {
                border-color: var(--primary);

                .cs-h3 {
                    color: var(--primary);
                }

                .cs-icon {
                    transform: rotateY(360deg);
                }
            }
        }

        .cs-icon-picture {
            margin-bottom: (20/16rem);
            perspective: 700px;
            transform-style: preserve-3d;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            display: block;
            transition: transform 0.5s;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1946 {
        .cs-text {
            font-size: (20/16rem);
        }

        .cs-item {
            text-align: left;
            margin: 0;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1946 {
        .cs-content {
            display: flex;
            flex-direction: column;
        }

        .cs-title {
            max-width: (750/16rem);
        }

        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1946 {
        .cs-title {
            margin: 0;
        }

        .cs-container {
            flex-direction: column;
        }

        .cs-content {
            text-align: left;
            max-width: (1280/16rem);
            gap: (20/16rem);
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-flex {
            width: 50%;
            max-width: (630/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1946 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-title, .cs-text, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-icon {
                filter: invert(1) brightness(1000%);
            }
        }
    }
}
                                